{% extends "GSBObjComBundle::layout.html.twig" %}
{% block title %}
    {{ parent() }} - Ajout d'une Pharmacie
{% endblock %}
{% block gsbobjcom_body %}
    <h2>
        Ajout d'une Pharmacie
    </h2>
    {{ include ('GSBObjComBundle:Pharmacie:formulaire.html.twig') }}

    <p>
        <a href="{{ path('gsb_obj_com_pharm_aff_liste')}}">
            Annulation de l'ajout: Retour à la liste.
        </a>
    </p>
{% endblock %}