{% extends "GSBObjComBundle::layout.html.twig" %}
{% block title %}
    {{ parent() }} - Accueil
{% endblock %}
{% block gsbobjcom_body %}
<p>
    Pour un meilleur suivi des relations avec les acteurs du secteur médical GSB souhaite
    suivre les objectifs commercieaux affectés aux pharmacies
</p>
{% endblock %}