{% extends "GSBObjComBundle::layout.html.twig" %}
{% block title %}
    {{ parent() }} - Modification d'une pharmacie
{% endblock %}
{% block gsbobjcom_body %}
    <h2>Modification de la pharmacie numéro {{ laPharm.id }}</h2>
    {{ include ('GSBObjComBundle:Pharmacie:formulaire.html.twig') }}
{% endblock %}