{% extends "GSBObjComBundle::layout.html.twig" %}
{% block title %}
    {{ parent() }} - Ajout d'un produit.
{% endblock %}
{% block gsbobjcom_body %}
    <h2>
        Ajout d'un produit
    </h2>
    {{ include ('GSBObjComBundle:Produit:formulaire.html.twig') }}
{% endblock %}