{% extends "GSBObjComBundle::layout.html.twig" %}
{% block title %}
    {{ parent() }} - Modification d'une pharmacie
{% endblock %}
{% block gsbobjcom_body %}
    <h2>
        Modification de la pharmacie numéro {{ laPharm.id }}
    </h2>
    <p>
        <a href="{{ path('gsb_obj_com_pharm_aff_unepharmacie',{'id':laPharm.id}) }}">
            Annulation de la modification: Retour à la pharmacie.
        </a>

    </p>
{% endblock %}